body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    background: #e74c3e; 
}
.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
